.footer {
  background-color: $color-primary-dark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  width: 100%;
  padding: 1rem;

  @include respond(phone) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
  }

  .copyright {
    color: $color-white;
    @include respond(phone) {
      font-size: 1.4rem;
      margin: 0;
    }
  }

  ul {
    list-style: none;
    display: flex;

    li {
      &:not(:last-child) {
        margin-right: 2rem;
      }

      img {
        height: 2rem;

        @include respond(phone) {
          height: 1.4rem;
        }
      }
    }
  }
}
