.projects {
  background-color: $color-primary;
  padding: 10rem 0;

  .project-heading {
    display: flex;
    align-items: center;
    margin-bottom: 10rem;

    @include respond(tab-port) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 3rem;
    }

    h2 {
      color: $color-white;
    }
    span {
      height: 1px;
      width: 50rem;
      background-color: $color-white;
      display: block;
      margin-left: 2rem;

      @include respond(tab-port) {
        display: none;
      }
    }
  }

  .container {
    display: flex;
    align-items: center;
    margin-bottom: 10rem;

    @include respond(tab-land2) {
      display: flex;
      flex-direction: column;

      &:nth-of-type(odd) {
        display: flex;
        flex-direction: column-reverse;
      }
    }

    .text {
      padding-right: 10rem;

      @include respond(tab-land2) {
        margin-top: 5rem;
        padding-right: 10vw;
      }

      h3 {
        text-transform: capitalize;
        color: $color-white;
      }

      p {
        color: #aaa;
      }

      @include respond(tab-land2) {
        margin-bottom: 5rem;
      }
    }

    .photo-right {
      border-radius: 2rem 0 0 2rem;
      background-color: #aaa;
      height: 50rem;
      transition: all 1s;

      &:hover {
        filter: grayscale(2);
      }

      @include respond(tab-land2) {
        width: 90vw;
        border-radius: 2rem;
        object-fit: cover;
      }
    }

    .photo-left {
      border-radius: 0 2rem 2rem 0;
      background-color: #aaa;
      height: 50rem;
      transition: all 1s;

      &:hover {
        filter: grayscale(2);
      }

      @include respond(tab-land2) {
        width: 90vw;
        border-radius: 2rem;
        object-fit: cover;
      }
    }
  }
}
