.tech {
  .desktop-view {
    padding: 10rem 0;
    width: 100vw;
    overflow: hidden;

    &__items {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      gap: 2rem;
      padding: 0 15vw;
      padding-bottom: 5rem;
      .item {
        display: flex;
        align-items: center;

        .icon {
          height: 6.5rem;
          margin: 1rem;
          transition: all ease 0.3s;
        }

        .text {
          font-size: 3rem;
          font-weight: bold;
          letter-spacing: 3px;
        }
        &:hover {
          .icon {
            transform: scale(1.1);
          }
        }
      }
    }
    @include respond(tab-port) {
      display: none;
    }
  }

  .tab-view {
    display: none;
    position: relative;
    background-image: linear-gradient(to bottom, $color-white, $color-primary);
    z-index: -999;

    .tech-illus {
      z-index: -999;
      position: absolute;
      top: 0;
      left: 10vw;
      height: 100vh;
      filter: blur(2px);
      z-index: 10;
    }

    .tech-heading {
      padding-top: 10rem;
      text-align: center;
      text-transform: capitalize;
    }
    .tech-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 3rem;
    }

    .container {
      display: inline-block;
      position: relative;
      height: 25rem;
      width: 25rem;
      border-radius: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      border: 1px solid $color-white;
      background-color: rgba($color-white, 0.3);
      backdrop-filter: blur(1rem);
      margin: 4rem 8rem;
      z-index: 999;
    }
    .tech-logo {
      height: 12rem;
    }

    @include respond(tab-port) {
      display: block;
    }
  }
}

.heading {
  display: flex;
  flex-direction: column;
  padding-bottom: 8rem;
  padding-left: 10vw;

  .tech-heading {
    text-align: left;
    text-transform: capitalize;
  }
}
