// COLOR VARIABLES
$color-primary: #360364;
$color-primary-dark: #280359;
$color-primary-light: #622f90;

$color-secondary: #befdff;
$color-tertiary: #ee2bdf;

$color-gray: #3b3b3b;

$color-white: #fff;
$color-black: #000;

// FONT VARIABLES
$font-primary: "Poppins", sans-serif;
$font-secondary: "Montserrat", sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200 / 16
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px
