/*

0-600px:  phone
600-900px: tablet portrait
900-1200px: tablet landscape
1200-1800px: desktop (is where our normal styles apply)
1800px+ : big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@media (max-width: 39em) {
  *,
  *::after,
  *::before {
    margin-right: 0;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  color: #3b3b3b;
}

.heading-primary {
  font-size: 9rem;
  color: #fff;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 13rem;
  padding-right: 10vw;
}

.heading-primary span {
  color: #befdff;
}

@media (max-width: 39em) {
  .heading-primary span:nth-of-type(2) {
    font-size: 6rem;
  }
}

.heading-secondary {
  font-size: 6rem;
  color: #360364;
}

.heading-tertiary {
  font-size: 4rem;
  font-weight: bold;
  color: #360364;
}

.sub-heading {
  font-size: 2rem;
  letter-spacing: 5px;
  color: #ee2bdf;
  text-transform: capitalize;
}

@media (max-width: 56.25em) {
  .heading-primary {
    font-size: 9rem;
    line-height: 12rem;
  }
  .heading-secondary {
    font-size: 4.5rem;
  }
  .heading-tertiary {
    font-size: 3rem;
  }
}

@media (max-width: 39em) {
  .heading-primary {
    font-size: 6.5rem;
    line-height: 8rem;
  }
}

.u-tertiary-color {
  color: #ee2bdf;
}

.u-white-color {
  color: #fff;
}

.u-black-color {
  color: #000;
}

.u-color-blue {
  color: #61dafb;
}

.u-color-darkblue {
  color: #00546b;
}

.u-color-darkblue::after {
  content: "SQL";
  color: orange;
}

.u-color-red {
  color: #b50000;
}

.u-color-pink {
  color: #470447;
}

.u-margin-right {
  margin-right: 10vw;
}

.u-margin-left {
  margin-left: 10vw;
}

.u-padding-right {
  padding-right: 10vw;
}

@media (max-width: 39em) {
  .u-padding-right {
    padding: 0;
  }
}

.u-padding-left {
  padding-left: 10vw;
}

@media (max-width: 39em) {
  .u-padding-left {
    padding: 0;
  }
}

.btn {
  padding: 1rem 2rem;
  text-decoration: none;
  background-color: transparent;
  color: #360364;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  outline: none;
  border-radius: 7px;
  border: 2px solid #360364;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.btn:hover {
  background-color: #360364;
  color: #fff;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.skill-card {
  height: 40rem;
  width: 20vw;
  background-color: #fff;
  border-radius: 1rem 1rem 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
}

.skill-card:not(:last-child) {
  margin-right: 5rem;
}

@media (max-width: 75em) {
  .skill-card {
    width: 40vw;
  }
}

@media (max-width: 56.25em) {
  .skill-card {
    border-radius: 1rem;
    margin-bottom: 2rem;
    margin-right: 0;
    width: 100%;
  }
}

@media (max-width: 39em) {
  .skill-card {
    border-radius: 1rem;
    margin-bottom: 2rem;
    width: 100%;
  }
}

.skill-card:hover img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.skill-card span {
  margin-bottom: 3rem;
}

.skill-card span img {
  height: 6rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.skill-card h4 {
  margin-bottom: 3rem;
  text-transform: uppercase;
  text-align: center;
}

.skill-card p {
  text-align: center;
  padding: 0 0.7rem;
}

.footer {
  background-color: #280359;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15vh;
  width: 100%;
  padding: 1rem;
}

@media (max-width: 39em) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
  }
}

.footer .copyright {
  color: #fff;
}

@media (max-width: 39em) {
  .footer .copyright {
    font-size: 1.4rem;
    margin: 0;
  }
}

.footer ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer ul li:not(:last-child) {
  margin-right: 2rem;
}

.footer ul li img {
  height: 2rem;
}

@media (max-width: 39em) {
  .footer ul li img {
    height: 1.4rem;
  }
}

.logo {
  text-decoration: none;
  color: #befdff;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

.logo::after {
  content: "Agnish";
  color: #fff;
  margin-left: 5px;
}

nav {
  position: relative;
  z-index: 999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  background-color: #280359;
}

.nav-links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 35%;
}

.nav-links li a {
  color: #fff;
  font-size: 1.4rem;
  text-decoration: none;
}

.nav-links li a:hover {
  color: #befdff;
}

.burger {
  display: none;
}

.burger div {
  width: 2.5rem;
  height: 2.5px;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 56.25em) {
  .nav-links {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 50%;
  }
}

@media (max-width: 39em) {
  body {
    overflow-x: hidden;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo {
    margin-left: 5vw;
  }
  .nav-links {
    position: absolute;
    height: 90vh;
    top: 8vh;
    background-color: #622f90;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100vw;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
    display: block;
    width: 100vw;
    padding: 3rem;
    text-align: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .nav-links li:hover {
    background-color: #360364;
  }
  .nav-links li a {
    font-size: 2rem;
  }
  .burger {
    display: block;
    cursor: pointer;
    margin-right: 5vw;
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(5rem);
            transform: translateX(5rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(5rem);
            transform: translateX(5rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

.about {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4rem 2rem;
}

.about span {
  position: absolute;
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  background-color: rgba(54, 3, 100, 0.3);
  top: 0;
  left: 0;
  z-index: -1;
}

.about .left {
  width: 40%;
  margin-top: 11rem;
}

@media (max-width: 75em) {
  .about .left h2 {
    font-size: 5rem;
  }
}

.about .left .about-desc {
  margin-top: 7rem;
}

.about .right {
  width: 60%;
  height: 55rem;
}

@media (max-width: 56.25em) {
  .about {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about span {
    display: none;
  }
  .about .left {
    width: 100%;
    margin: 0;
    padding: 5rem 2rem 0 2rem;
    text-align: center;
  }
  .about .right {
    width: 80%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    display: inline-block;
  }
}

.contact {
  padding-top: 5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
}

.contact h2 {
  margin-top: 2rem;
}

.contact a {
  margin-top: 3rem;
}

.contact .illus {
  height: 70vh;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: -1;
}

@media (max-width: 56.25em) {
  .contact .illus {
    width: 90vw;
  }
}

.header {
  background-color: #360364;
  min-height: 90vh;
  position: relative;
}

.header .header-heading {
  z-index: 1;
  position: absolute;
  top: 15vh;
  left: 0;
  height: 90vh;
}

.header .header-heading .container-head {
  margin-top: 1.5rem;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header .header-heading .container-head:hover {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.header .header-heading .container-head img {
  height: 2.5rem;
  margin-left: 1rem;
}

.header .developer {
  width: 100%;
  height: 90vh;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  mix-blend-mode: luminosity;
}

.header .side {
  position: absolute;
  z-index: 999;
  bottom: 0;
  right: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .side ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 39em) {
  .header .side ul {
    display: none;
  }
}

.header .side ul li {
  margin-bottom: 2rem;
}

.header .side ul li img {
  height: 2rem;
}

.header .side ul::after {
  content: "";
  display: block;
  width: 1px;
  height: 15rem;
  margin: 0px auto;
  background-color: #fff;
}

@media (max-width: 56.25em) {
  .header .heading {
    top: 0;
    padding: 5vh 0;
  }
  .header .developer {
    display: none;
  }
}

@media (max-width: 39em) {
  .developer {
    display: none;
  }
}

.projects {
  background-color: #360364;
  padding: 10rem 0;
}

.projects .project-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10rem;
}

@media (max-width: 56.25em) {
  .projects .project-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 3rem;
  }
}

.projects .project-heading h2 {
  color: #fff;
}

.projects .project-heading span {
  height: 1px;
  width: 50rem;
  background-color: #fff;
  display: block;
  margin-left: 2rem;
}

@media (max-width: 56.25em) {
  .projects .project-heading span {
    display: none;
  }
}

.projects .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10rem;
}

@media (max-width: 75em) {
  .projects .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects .container:nth-of-type(odd) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.projects .container .text {
  padding-right: 10rem;
}

@media (max-width: 75em) {
  .projects .container .text {
    margin-top: 5rem;
    padding-right: 10vw;
  }
}

.projects .container .text h3 {
  text-transform: capitalize;
  color: #fff;
}

.projects .container .text p {
  color: #aaa;
}

@media (max-width: 75em) {
  .projects .container .text {
    margin-bottom: 5rem;
  }
}

.projects .container .photo-right {
  border-radius: 2rem 0 0 2rem;
  background-color: #aaa;
  height: 50rem;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.projects .container .photo-right:hover {
  -webkit-filter: grayscale(2);
          filter: grayscale(2);
}

@media (max-width: 75em) {
  .projects .container .photo-right {
    width: 90vw;
    border-radius: 2rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.projects .container .photo-left {
  border-radius: 0 2rem 2rem 0;
  background-color: #aaa;
  height: 50rem;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.projects .container .photo-left:hover {
  -webkit-filter: grayscale(2);
          filter: grayscale(2);
}

@media (max-width: 75em) {
  .projects .container .photo-left {
    width: 90vw;
    border-radius: 2rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.skills {
  position: relative;
  background-color: #360364;
  padding: 20rem 20rem 0 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 75em) {
  .skills {
    padding: 20rem 5rem 0 5rem;
  }
}

@media (max-width: 56.25em) {
  .skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20rem;
  }
}

@media (max-width: 39em) {
  .skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5rem;
  }
}

.tech .desktop-view {
  padding: 10rem 0;
  width: 100vw;
  overflow: hidden;
}

.tech .desktop-view__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
  padding: 0 15vw;
  padding-bottom: 5rem;
}

.tech .desktop-view__items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tech .desktop-view__items .item .icon {
  height: 6.5rem;
  margin: 1rem;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.tech .desktop-view__items .item .text {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 3px;
}

.tech .desktop-view__items .item:hover .icon {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 56.25em) {
  .tech .desktop-view {
    display: none;
  }
}

.tech .tab-view {
  display: none;
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#360364));
  background-image: linear-gradient(to bottom, #fff, #360364);
  z-index: -999;
}

.tech .tab-view .tech-illus {
  z-index: -999;
  position: absolute;
  top: 0;
  left: 10vw;
  height: 100vh;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  z-index: 10;
}

.tech .tab-view .tech-heading {
  padding-top: 10rem;
  text-align: center;
  text-transform: capitalize;
}

.tech .tab-view .tech-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3rem;
}

.tech .tab-view .container {
  display: inline-block;
  position: relative;
  height: 25rem;
  width: 25rem;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  margin: 4rem 8rem;
  z-index: 999;
}

.tech .tab-view .tech-logo {
  height: 12rem;
}

@media (max-width: 56.25em) {
  .tech .tab-view {
    display: block;
  }
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 8rem;
  padding-left: 10vw;
}

.heading .tech-heading {
  text-align: left;
  text-transform: capitalize;
}
/*# sourceMappingURL=main.css.map */