.about {
  position: relative;
  display: flex;
  padding: 4rem 2rem;

  span {
    position: absolute;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    background-color: rgba(#360364, 0.3);
    top: 0;
    left: 0;
    z-index: -1;
  }

  .left {
    width: 40%;
    margin-top: 11rem;

    @include respond(tab-land2) {
      h2 {
        font-size: 5rem;
      }
    }

    .about-desc {
      margin-top: 7rem;
    }
  }

  .right {
    width: 60%;
    height: 55rem;
  }
}

@include respond(tab-port) {
  .about {
    margin: 0;
    display: flex;
    flex-direction: column;

    span {
      display: none;
    }

    .left {
      width: 100%;
      margin: 0;
      padding: 5rem 2rem 0 2rem;
      text-align: center;
    }

    .right {
      width: 80%;
      align-self: center;
      display: inline-block;
    }
  }
}
