.u-tertiary-color {
  color: $color-tertiary;
}

.u-white-color {
  color: $color-white;
}

.u-black-color {
  color: $color-black;
}

.u-color-blue {
  color: #61dafb;
}

.u-color-darkblue {
  color: #00546b;
  &::after {
    content: "SQL";
    color: orange;
  }
}

.u-color-red {
  color: #b50000;
}

.u-color-pink {
  color: rgb(71, 4, 71);
}

.u-margin-right {
  margin-right: 10vw;
}

.u-margin-left {
  margin-left: 10vw;
}

.u-padding-right {
  padding-right: 10vw;
  @include respond(phone) {
    padding: 0;
  }
}

.u-padding-left {
  padding-left: 10vw;

  @include respond(phone) {
    padding: 0;
  }
}
